# emacs
*recentf*
*elpa*
*.emacs.d/games*
*auto-save-list*
*vimish-fold*
*eshell*

#deluge
*deluge*

# whizkers
*whizkers*

# zsh subdirs
*.zsh/

# misc
*.log
*.swp
*~

# vim
*/.vim/autoload*
*/.vim/plugged*

# logs
*.log

# irssi
*.irssi/config*

# mpdscribble
*.mpdscribble*

# mpd
*.mpd/mpdstate
