#######################################################################
#                Files that don't need to be backed up                #
#######################################################################

# emacs
.emacs.d/elpa/
.emacs.d/powerline/
.emacs.d/spaceline/

# dunstify
*dunstify*

# i3
.i3/config.swp
.i3/.config.swp
.i3/status.sh

# mpd
.mpd/

# ncmpcpp
.ncmpcpp/bindings
.ncmpcpp/error.log

# deluge
deluge/

# htop
htop/

# ranger
ranger/bookmarks
ranger/history
ranger/tagged

# vlc
vlc/