! Fonts
URxvt.font:      xft:fxd:pixelsize=11:antialias=true,xft:JackeyFont:pixelsize=11:antialias=true,
URxvt.boldFont:
XTerm.font:      xft:fxd:pixelsize=11:antialias=true,xft:JackeyFont:pixelsize=11:antialias=true,
XTerm.boldFont:

!General
*.scrollBar: false
*.saveLines: 8192
*.internalBorder: 10
*.cursorUnderline: true
*.cursorBlink: true
*.dynamicColors:on
*.letterSpace: 0

Xft.autohint: 0
Xft.dpi: 96
Xft.hintstyle: hintnone
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

!Separate settings for emacs
emacs.internalBorder: 0

! Clickable Links

*perl-ext-common:	 default,matcher,clipboard
*keysym.Shift-Control-V: perl:clipboard:paste
*urlLauncher:		 firefox
*matcher.button:	 1
*url-select.underline:	 true

! Colors
*borderColor:  #181a13
*background:   #181a13
*foreground:   #eeeeee
*cursorColor:  #eeeeee

! Black
*color0:       #4b4b4b
*color8:       #5f5f5f

! Red
*color1:       #aa7b4f
*color9:       #dc9f66

! Green
*color2:       #a99770
*color10:      #dbc391

! Yellow
*color3:       #a88d5f
*color11:      #e0b974

! Blue
*color4:       #8c97ac
*color12:      #b4c2de

! Magenta
*color5:       #a7a498
*color13:      #d9d5c5

! Cyan
*color6:       #c1c2c4
*color14:      #f2f3f6

! White
*color7:       #c7bbb4
*color15:      #f9e9e1
