! Fonts
URxvt.font:      xft:Creep:pixelsize=11:antialias=true,xft:Kochi Gothic:pixelsize=11:antialias=true,
URxvt.boldFont:

!General
URxvt.scrollBar: false
URxvt.saveLines: 8192
URxvt.internalBorder: 10
URxvt.cursorUnderline: true
URxvt.cursorBlink: true
URxvt.dynamicColors:on
URxvt.letterSpace: 1

Xft.autohint: 0
Xft.dpi: 96
Xft.hintstyle: hintnone
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! Clickable Links

*perl-ext-common:	 default,matcher,clipboard
*keysym.Shift-Control-V: perl:clipboard:paste
*urlLauncher:		 firefox
*matcher.button:	 1
*url-select.underline:	 true

! Colors
*.borderColor:  #121f1f
*.background:   #121f1f
*.foreground:   #c3c4ab
*.cursorColor:  #c3c4ab

! Black
*.color0:       #373738
*.color8:       #5f5f5f

! Red
*.color1:       #d65757
*.color9:       #ffaeae

! Green
*.color2:       #afd252
*.color10:      #b8bd85

! Yellow
*.color3:       #cfad50
*.color11:      #f0dbb2

! Blue
*.color4:       #5184ae
*.color12:      #95acbe

! Magenta
*.color5:       #bc91ca
*.color13:      #b59fbb

! Cyan
*.color6:       #8acec6
*.color14:      #95beb9

! White
*.color7:       #a1adb8
*.color15:      #c8c8c8
