html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #1c1c22;
    font-family: "Fira Mono";
    color: #bcbcbc;
    font-size: 10px;
}

#content {
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    height: 100%;
    position: relative;
}

a, a:link {
    color: #708ca2;
    text-decoration: none;
}

a:hover {
    color: #7faed0;
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    text-align: left;
    padding-left: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

ul li {
    list-style: none;
    display: inline;
    text-align: left;
}

.directory {
    overflow: hidden;
    position: absolute;
    margin-left: 20%;
    margin-top: 45%;
}

.directory tr {
    vertical-align: center;
    line-height: 15px;
}

.directory tr td:first-child {
    text-align: right;
}

.directory ul li:after {
    color: #7e6565;
    content: " //";
}

.directory ul li:last-child:after {
    content: "";
}

.mascot {
    width: 30%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
