! Fonts
URxvt.font:xft:Fira Mono:pixelsize=11:antialias=True,xft:Noto Sans Mono CJK JP:pixelsize=11:antialias=True,xft:Noto Sans Mono CJK KR:pixelsize=11:antialias=True
URxvt.boldFont:
XTerm.font:xft:Fira Mono:pixelsize=11:antialias=True,xft:Noto Sans Mono CJK JP:pixelsize=11:antialias=True,xft:Noto Sans Mono CJK KR:pixelsize=11:antialias=True
XTerm.boldFont:

! General
*.scrollBar: false
*.saveLines: 8192
*.internalBorder: 10
*.cursorUnderline: true
*.cursorBlink: true
*.dynamicColors:on
*.letterSpace: -1

Xft.autohint: 0
Xft.dpi: 96
Xft.hintstyle: hintnone
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! Separate settings for emacs
emacs.internalBorder: 0

! Rofi
rofi.opacity: 100
rofi.width: 40
rofi.lines: 3
rofi.font: Fira Mono 8
rofi.padding: 50
rofi.bw: 5
rofi.terminal: urxvt
rofi.color-window: #0f1f24, #7e95f0
rofi.color-normal: #0f1f24, #92a19a, #0f1f24, #7e95f0, #0f1f24
rofi.color-active: #0f1f24, #92a19a, #0f1f24, #999eeb, #0f1f24
rofi.color-urgent: #0f1f24, #92a19a, #0f1f24, #dae0d8, #0f1f24

! Clickable Links
*perl-ext-common:	 default,matcher,clipboard
*keysym.Shift-Control-V: perl:clipboard:paste
*url-launcher:		 /usr/bin/vivaldi
*matcher.button:	 1
*url-select.underline:	 true
*.matcher.rend.0:        Uline Bold fg4

! Extra

*.color254:     #0f1f24
*.color255:     #92a19a

! Colors
*.borderColor:  #0f1f24
*.background:   #0f1f24
*.foreground:   #92a19a
*.cursorColor:  #92a19a

! Black
*color0:       #434343
*color8:       #616161

! Red
*color1:       #ac8a8a
*color9:       #b39e9e

! Green
*color2:       #79c490
*color10:      #93e3b7

! Yellow
*color3:       #bfd491
*color11:      #d8f4a2

! Blue
*color4:       #7e95f0
*color12:      #999eeb

! Magenta
*color5:       #af91da
*color13:      #b4a2f4

! Cyan
*color6:       #acced6
*color14:      #c1d1cf

! White
*color7:       #dae0d8
*color15:      #eeffdf
