! Fonts
URxvt.font:      xft:neep:pixelsize=13:antialias=true,xft:JackeyFont:pixelsize=13:antialias=true,
URxvt.boldFont:
XTerm.font:      xft:neep:pixelsize=13:antialias=true,xft:JackeyFont:pixelsize=13:antialias=true,
XTerm.boldFont:

! General
*.scrollBar: false
*.saveLines: 8192
*.internalBorder: 10
*.cursorUnderline: true
*.cursorBlink: true
*.dynamicColors:on
*.letterSpace: 0

Xft.autohint: 0
Xft.dpi: 96
Xft.hintstyle: hintnone
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! Separate settings for emacs
emacs.internalBorder: 0

! Rofi
rofi.opacity: 80
rofi.width: 40
rofi.lines: 3
rofi.font: neep 8
rofi.padding: 50
rofi.bw: 2
rofi.terminal: urxvt
rofi.disable-history: true
rofi.color-window: #222222, #53a4a1
rofi.color-normal: #222222, #eeeeee, #222222, #53a4a1, #222222
rofi.color-active: #222222, #eeeeee, #222222, #6cd6d2, #222222
rofi.color-urgent: #222222, #eeeeee, #222222, #ae9984, #222222

! Clickable Links
*perl-ext-common:	 default,matcher,clipboard
*keysym.Shift-Control-V: perl:clipboard:paste
*urlLauncher:		 firefox
*matcher.button:	 1
*url-select.underline:	 true

! Colors
*.borderColor:  #1a2c2c
*.background:   #1a2c2c
*.foreground:   #eeeeee
*.cursorColor:  #eeeeee

! Black
*color0:       #4b4b4b
*color8:       #5f5f5f

! Red
*color1:       #ab7253
*color9:       #dd936b

! Green
*color2:       #b28667
*color10:      #e4ab83

! Yellow
*color3:       #ae9984
*color11:      #e0c4a9

! Blue
*color4:       #aaaba2
*color12:      #dbddd1

! Magenta
*color5:       #81a7a5
*color13:      #a7d9d6

! Cyan
*color6:       #53a4a1
*color14:      #6cd6d2

! White
*color7:       #9eb2cb
*color15:      #cae5ff
