! Fonts
URxvt.font:xft:Fira Mono:pixelsize=11:antialias=True,xft:Noto Sans Mono CJK JP:pixelsize=11:antialias=True,xft:Noto Sans Mono CJK KR:pixelsize=11:antialias=True
URxvt.boldFont:
XTerm.font:xft:Fira Mono:pixelsize=11:antialias=True,xft:Noto Sans Mono CJK JP:pixelsize=11:antialias=True,xft:Noto Sans Mono CJK KR:pixelsize=11:antialias=True
XTerm.boldFont:

! General
*.scrollBar: false
*.saveLines: 8192
*.internalBorder: 10
*.cursorUnderline: true
*.cursorBlink: true
*.dynamicColors:on
*.letterSpace: -1

Xft.autohint: 0
Xft.dpi: 96
Xft.hintstyle: hintnone
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! Rofi
rofi.opacity: 100
rofi.width: 40
rofi.lines: 3
rofi.font: Fira Mono 9
rofi.padding: 50
rofi.bw: 2
rofi.terminal: urxvt
rofi.color-window: #271e1f, #8a7e8f
rofi.color-normal: #271e1f, #bbafbe, #271e1f, #8a7e8f, #271e1f
rofi.color-active: #271e1f, #bbafbe, #271e1f, #b49dbb, #271e1f
rofi.color-urgent: #271e1f, #bbafbe, #271e1f, #af6a82, #271e1f

! Clickable Links
*perl-ext-common:	 default,matcher,clipboard
*keysym.Shift-Control-V: perl:clipboard:paste
*url-launcher:		 /usr/bin/google-chrome-stable
*matcher.button:	 1
*url-select.underline:	 true
*.matcher.rend.0:        Uline Bold fg4

! Extra

*.color254:     #271e1f
*.color255:     #bbafbe

! Colors
*.borderColor:  #271e1f
*.background:   #271e1f
*.foreground:   #bbafbe
*.cursorColor:  #bbafbe

! Black
*color0:       #4b4b4b
*color8:       #5f5f5f

! Red
*color1:       #af6a82
*color9:       #d89cb5

! Green
*color2:       #adb092
*color10:      #e0e6ad

! Yellow
*color3:       #e1cd8a
*color11:      #ded4b4

! Blue
*color4:       #70a2cb
*color12:      #97a8b7

! Magenta
*color5:       #8a7e8f
*color13:      #b49dbb

! Cyan
*color6:       #b2cccd
*color14:      #d6fff8

! White
*color7:       #cad0d0
*color15:      #f0f7fe
